.intro {
  background-color: #1b262f;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../../img/intro-bg-img.png);
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: calc(50% - 750px) -350px;
}

.intro__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.369231px; 
  color: #fbfcfe;
  width: 447px;
  margin: 0;
  margin-bottom: 24px;
}

.intro__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #fbfcfe; 
  mix-blend-mode: normal;
  opacity: 0.7;
  width: 445px;
  margin: 0;
  margin-bottom: 32px;
}

.intro__button {
  padding: 15px 32px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #1b262f;;
}

.intro__button:hover {
  color: #1b262f;
  background-color: #ffffff;
  cursor: pointer;
}

.intro__list-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 536px;
  margin-top: 50px;
}

@include breakpoint-down (1045px) {
  .intro {
  background-image: url(../../img/intro-bg-img.png);
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: calc(50% - 0px) -450px;
  }

  .intro__box {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .intro__box-work {
    margin-top: 70px;
    text-align: center;
  }
}

@include breakpoint-down (610px) {
  .intro {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .intro__company-pic {
    display: flex;
    justify-content: flex-start;
    max-width: 477px;
  }

  .intro__list-one {
    flex-direction: column;
    padding-left: 0;
  }

  .intro__items {
    width: 107px;
    height: 25px;
    margin-bottom: 44px;
  }
}

@include breakpoint-down (480px) {
  .intro__title {
    width: 290px;
  }

  .intro__text {
    width: 280px;
  }

  .intro__list-one {
    width: 310px;
    justify-content: space-between;
    margin-left: -90px;
  }

  .intro__list-one:nth-child(2) {
    margin-left: 0;
    margin-left: 50px;
  }

  .intro__company-pic {
    width: 100px;
  }
    
  
}