.services {
  background-color: #edf3f8;
  padding-top: 75px;
  padding-bottom: 75px;
}

.services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.services__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services__items:nth-child(1):before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  background-image: url("../../img/services-money-img.png");
  background-size: 106px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 32px;
}

.services__items:nth-child(2):before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  background-image: url("../../img/service-rise-img.png");
  background-size: 106px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 32px;
}

.services__items:nth-child(3):before {
  content: "";
  display: block;
  width: 106px;
  height: 106px;
  background-image: url("../../img/service-vallet.png");
  background-size: 106px;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 32px;
}

.services__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536B;
}

.services__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6C8294;
  width: 340px;
}

@include breakpoint-down (1110px) { 
  .services {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .services__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .services {
    padding-top: 20px;
  }

  .services__items {
    margin-left: -30px;
  }

  .services__title {
    width: 280px;
  }

  .services__text {
    width: 280px;
  }
  }


